body {
    font-family: 'Roboto', sans-serif;
}

.flex-viewport-div {
    height: 100vh;
}

#home-main-div {
    
}

#home-viewport1 {
    display: flex;
    flex-direction: column;
    background: url(../images/glassbuilding.jpg) no-repeat center center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#account-button {
    position: fixed;
    top: 2em;
    right: 2em;
    -webkit-box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6); 
    box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6);
}

#room-search-form-container {
    display: flex;
    flex-grow: 1.3;
    flex-direction: column;
    justify-content: flex-start;
}

#hotel-callisto-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 1em;
    font-size: 4em;
    text-align: center;
    color: #3b5249;
}

#room-search-form {
    display: flex;
    justify-content: center;
}

.room-search-param-container {
    display: flex;
    height: 100%;
}

.room-search-params {
    all: unset;
    display: flex;
    font-size: 1em;
    padding: 1em;
    margin: 0em 0.5em 0em 0.5em;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6); 
    box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6);
    display: inline;
}

#room-search-param-submit {
    background-color: rgb(157, 158, 167);
    color: rgb(235, 235, 235);

    transition: background-color 0.25s, color 0.25s;
    -webkit-transition: background-color 0.25s, color 0.25s;
}

#room-search-param-submit:hover {
    background-color: rgb(80, 82, 95);
    color: white;

    transition: background-color 0.25s, color 0.25s;
    -webkit-transition: background-color 0.25s, color 0.25s;
}

#menu-icon {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    object-fit: cover;
}