#home-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #CEE7FD;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

#room-search-form {
    display: flex;
    justify-content: center;
}

.room-search-param-container {
    display: flex;
    display: inline-block;
    height: 100%;
}

#calendar {
    height: calc(100% - 1em);
    width: 16em;
    margin: 0.5em 0em 0.5em 0em;
    background-color: #60A4F8;
    -webkit-box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6); 
    box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6);
}

.room-search-params {
    display: flex;
    margin: 0.5em 0em 0.5em 0.5em;
    width: calc(100% - 0.5em);
    font-size: 1em;
    height: 5em;
    width: 14em;
    border-style: none;
    border-radius: 4px;
    -webkit-box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6); 
    box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6);
}