#room-search-results-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.room-search-card {
    display: flex;
    padding: 1em;
    margin: 1em;
    max-width: 80em;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6); 
    box-shadow: 15px 16px 15px -15px rgba(35,83,127,0.6);
}

.room-search-card > .image-div {
    height: 18em;
    width: 18em;
    overflow: hidden;
}

.room-search-card > .image-div > img {
    max-height: 100%;
}

.search-item-brief-details {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    width: 40em;
}
.search-item-brief-details > .price {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 2em;
}

.book-button-div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.book-button-div a {
    all: unset;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.1em 1em 0.1em 1em;
    text-align: center;
    cursor: pointer;

    background-color: rgb(240, 240, 240);

    transition: background-color 0.25s, color 0.25s;
    -webkit-transition: background-color 0.25s, color 0.25s;
}

.book-button-div a:hover {
    background-color: rgb(80, 82, 95);
    color: white;

    transition: background-color 0.25s, color 0.25s;
    -webkit-transition: background-color 0.25s, color 0.25s;
}