
{% extends 'base.html' %}

{% block body %}

{% from "_formhelpers.html" import render_field %}

<h1>Login and Registration Page</h1>
<h2>Login</h2>

<form method="POST" action="{{ url_for('auth_page') }}"/>
    {{ login_form.csrf_token }}
    {{ render_field(login_form.email) }}<br/>
    {{ render_field(login_form.password) }} <br/>
    {{ render_field(login_form.remember) }} <br/>
    {{ login_form.login_submit }}
</form>

<h2>Registration</h2>

<form method="POST" action="{{ url_for('auth_page') }}"/>
    {{ register_form.csrf_token }}
    {{ render_field(register_form.email) }} <br/>
    {{ render_field(register_form.password) }} <br/>
    {{ render_field(register_form.confirm) }} <br/>
    {{ register_form.register_submit }}
</form>

{% endblock %}
