<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    {% block statics %}
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom Styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    {% endblock %}

</head>

<body>
    <div id="account-button" class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {% if current_user.is_authenticated %}
            <img id="menu-icon" src="{{ url_for('static', filename='images/profiles/sample-profile.jpg') }}"/>
            {% else %}
            <img id="menu-icon" src="{{ url_for('static', filename='images/default-avatar.png') }}"/>
            {% endif %}
        </button>
        <div class="dropdown-menu">
            {% block dropdown %}
            {% if current_user.is_authenticated %}
            <a id="dropdown-myprofile" class="dropdown-item" href="{{ url_for('profile_page') }}">My profile</a>
            <a id="dropdown-myreservations" class="dropdown-item" href="{{ url_for('bookings_page') }}">My reservations</a>
            {% else %}
            <a id="dropdown-loginregister" class="dropdown-item" href="{{ url_for('auth_page') }}">Login or register</a>
            {% endif %}
            <a id="dropdown-availablerooms" class="dropdown-item" href="{{ url_for('room_list_page') }}">View available rooms</a>
            <a id="dropdown-contactus" class="dropdown-item" href="{{ url_for('contact_us') }}">Contact us</a>
            {% if current_user.is_authenticated %}
            <a id="dropdown-logout" class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% endblock %}
        </div>
        <div id="language-selection-div">
            <img id="us-flag-icon" class="flag-icons" src="{{ url_for('static', filename='images/us_flag_icon.png') }}"/>
            <img id="es-flag-icon" class="flag-icons" src="{{ url_for('static', filename='images/es_flag_icon.png') }}"/>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    <script>
        $(document).ready(function() {

            changePageLanguage();

            $("#us-flag-icon").click(function() {
                sessionStorage.setItem("weblang", "en_us");
                changePageLanguage();
                changeBaseLanguage();
            })

            $("#es-flag-icon").click(function() {
                sessionStorage.setItem("weblang", "es_es");
                changePageLanguage();
                changeBaseLanguage();
            })
        })

        function changeInnerHTML(id, newtext) {
            var htmlelem = document.getElementById(id);

            if (htmlelem) {
                htmlelem.innerHTML = newtext;
            }
        }

        function changeBaseLanguage() {
            var en_us = {
                logout: "Logout",
                myprofile: "My profile",
                myreservations: "My reservations",
                loginregister: "Login or register",
                availablerooms: "View available rooms",
                contactus: "Contact us"
            };

            var es_es = {
                logout: "Salir",
                myprofile: "Mi perfil",
                myreservations: "Mis reservas",
                loginregister: "Iniciar sesión o registrarse",
                availablerooms: "Ver las habitaciones disponibles",
                contactus: "Contáctate con nosotros"
            };

            var baselang;

            switch (sessionStorage.getItem("weblang")) {
                case "en_us":
                    baselang = en_us;
                    $("#us-flag-icon").addClass("selected");
                    $("#es-flag-icon").removeClass("selected");
                    break;
                case "es_es":
                    baselang = es_es;
                    $("#es-flag-icon").addClass("selected");
                    $("#us-flag-icon").removeClass("selected");
                    break;
                default:
                    baselang = en_us;
                    $("#us-flag-icon").addClass("selected");
                    $("#es-flag-icon").removeClass("selected");
                    break;
            }

            changeInnerHTML("dropdown-logout", baselang.logout);
            changeInnerHTML("dropdown-myprofile", baselang.myprofile);
            changeInnerHTML("dropdown-myreservations", baselang.myreservations);
            changeInnerHTML("dropdown-loginregister", baselang.loginregister);
            changeInnerHTML("dropdown-availablerooms", baselang.availablerooms);
            changeInnerHTML("dropdown-contactus", baselang.contactus);
        }

    </script>
</body>

</html>