{% extends 'base.html' %}

{% block statics %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contactus.css') }}">
{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_field %}

<div id="contact-us-page-main-div" class="flex-viewport-div">
    <div id="image-container">

    </div>
    <div id="email-form-container">
        <form id="email-form">
            <h1 id="contact-us">Contact us</h1>
            <input id="input-email" type="email" class="invalid" placeholder="Email"/>
            <input id="input-subject" type="text" placeholder="Subject"/>
            <textarea id="textarea-message" type="text" placeholder="Message"></textarea>
            <input id="contact-us-submit" type="submit" value="Submit">
        </form>
        <p>hotelcallisto@callisto.com</p>
    </div>
</div>

<script>
    function changePageLanguage() {
        var en_us = {
            contactus: "Contact us",
            inputemail: "Email",
            inputsubject: "Subject",
            textareamessage: "Message",
            contactussubmit: "Submit",
        }

        var es_es = {
            contactus: "Contácte con nosotros",
            inputemail: "Dirección de correo electrónico",
            inputsubject: "Tema",
            textareamessage: "Mensaje",
            contactussubmit: "Enviar",
        }

        var lang

        switch (sessionStorage.getItem("weblang")) {
            case "en_us":
                lang = en_us
                $("#us-flag-icon").addClass("selected");
                $("#es-flag-icon").removeClass("selected");
                break;
            case "es_es":
                lang = es_es
                $("#es-flag-icon").addClass("selected");
                $("#us-flag-icon").removeClass("selected");
                break;
            default:
                lang = en_us
                $("#us-flag-icon").addClass("selected");
                $("#es-flag-icon").removeClass("selected");
                break;
        }

        document.getElementById("contact-us").innerHTML = lang.contactus;
        document.getElementById("input-email").placeholder = lang.inputemail;
        document.getElementById("input-subject").placeholder = lang.inputsubject;
        document.getElementById("textarea-message").placeholder = lang.textareamessage;
        document.getElementById("contact-us-submit").value = lang.contactussubmit;
    }
</script>

{% endblock %}