{% extends 'base.html' %}

{% block body %}
<script>
    $(document).ready(() => {
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'center',
                autoApply: true,
            });
        });

        $('#room-search-form').submit(function (e) {
            e.preventDefault();
            const url = $(this).attr('action');
            const formData = new FormData(this);
            const dateRangePicker = $('input[name="daterange"]').data('daterangepicker');
            const csrf_token = "{{ csrf_token() }}";

            $.ajax({
                url: url,
                data: {
                    csrf_token: csrf_token,
                    check_in_date: dateRangePicker.startDate.format('YYYY-MM-DD'),
                    check_out_date: dateRangePicker.endDate.format('YYYY-MM-DD'),
                    num_occupants: formData.get('numOccupants'),
                    room_type: formData.get('roomtype')
                },

            }).done(data => {
                $('#room-search-results-main').html(data)
            })
        })
    })
</script>
{% from "_formhelpers.html" import render_field %}
{% if current_user.is_authenticated %}
Hi {{ current_user.name }}!
<a href="{{ url_for('logout') }}">Click here to log out</a>
{% endif %}

<div id="home-main-div">
    <div id="home-viewport1" class="flex-viewport-div">
        <h1 id="hotel-callisto-title">Hotel Callisto</h1>
        <div id="room-search-form-container">
            <div class="calendar-container">
                <form id="room-search-form" action="{{ url_for('fetch_room_list') }}">
                    <div id="room-search-param-container">
                        <input type="text" name="daterange" value="" class="room-search-params" />
                        <select name="numOccupants" class="room-search-params" placeholder="Guests">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <select name="roomtype" class="room-search-params">
                            <option value="Regular">Regular</option>
                            <option value="Executive">Executive</option>
                            <option value="President">President</option>
                        </select>
                        <button type="submit" class="room-search-params" id="room-search-param-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="room-search-results-main">

    </div>
</div>

{% endblock %}