{% extends 'base.html' %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
  <a href="{{ url_for('logout') }}">Click here to log out</a>
{% endif %}

<div id="home-main-div" class="container-fluid">
  <!-- <a href="{{ url_for('auth_page') }}">Login or Register</a>
    <a href="{{ url_for('room_list_page') }}">View Rooms</a> -->
  <div class="calendar-container">
    <form method="POST" action="{{ url_for('room_list_page') }}" id="room-search-form">
      <div class="room-search-param-container">
        <div id="calendar">
        </div>
      </div>
      <div class="room-search-param-container">
        {{ form.number_of_occupants(class_="room-search-params") }}
        {{ form.room_type(class_="room-search-params") }}
        <button type="submit" value="Submit" class="room-search-params">Submit</button>
      </div>
    </form>
  </div> 
</div>

{% for room in rooms %} 
<p>
  {{room.id}} 
</p>
{% endfor %}

{% endblock %}